[Desktop Entry]
Encoding=UTF-8
Name=CpuFreqDisplay
Type=Service
ServiceTypes=Plasma/Applet

X-Plasma-API=python
X-Plasma-MainScript=code/main.py
X-KDE-PluginInfo-Author=Grissiom
X-KDE-PluginInfo-Email=chaos.proton@gmail.com
X-KDE-PluginInfo-Name=CpuFreqDisplay
X-KDE-PluginInfo-Version=0.01
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
